@import '../../styles/default/variables.scss';

.header {
	padding: 30px 0;

	background-color: rgb(44, 30, 231);
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		display: block;
		margin-right: 40px;

		font-size:42px;	
		font-weight:700;
		color:#fff;

	}

	&__list {
		display: flex;
		align-items: center;
		li{
			margin-right: 25px;
			&:last-child{
				margin-right: 0;
			}
		}
	}

	&__link {
		display: block;

		font-size:25px;
		font-weight:400;
		color:#fff;

		@media (min-width: $md2 + px){
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
