.footer {
	padding: 30px 0;
	margin-top: auto;

	background-color:  rgb(44, 30, 231);
	&__container {
	}

	&__copyright {
		display: block;
		width: 100%;

		text-align: center;
		font-size:18px;
		font-weight:400;
		color:#fff;
	}
}
